.search-container {
    display: flex;
    flex-direction: column;
  }
  
  .search-box {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    height: 30px;
    font-size: 16px;
  }
  
  .hits-container {
    position: absolute;
    align-items: center;
    font-size: 18px;
    font-weight: 650;
    top: 45px; /* Ajusta este valor según sea necesario */
    width: 220px;
    background: rgb(221, 221, 221);
    border-bottom: 1px solid #444444;
    border-radius: 4px;
    z-index: 1000; /* Asegúrate de que los hits aparezcan sobre otros contenidos */
    box-shadow: 6px 6px 10px rgb(30, 32, 30);
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .hit-item {
    border-bottom: 1px solid #797979;
    padding: 10px;
  }
  
  .hit-item:last-child {
    border-bottom: none;
  }
  
  .hit-item a {
    color: black;
    text-decoration: none;
    padding: 5px;
  }
  
  .hit-item a:hover {
    text-decoration: underline;
  }