* {
  box-sizing: border-box;
}

body {
  background: rgb(58, 58, 58);
  text-align: center;
  color: black;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  height: auto;
  min-height: 30vh; 
}

.cuerpo {
  display: flex;
}

.left {
  padding: 3em 0 3em 0;
  flex: 1 1 2%;
}

main {
  border-radius: 25px;
  background: linear-gradient(rgb(189, 189, 189), grey);
  padding: 1em 0 1em 0;
  flex: 1 5 25%;
  box-shadow: 10px 5px 5px rgb(39, 39, 39);
}

.right {
  padding: 3em 0 3em 0;
  flex: 1 1 2%;
}

main h1 {
  margin: 1px;
  margin-bottom: 15px;
  font-size: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-content: space-between;
  align-items: center;
  justify-content: center;
}

.grid-item {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.3s ease;
}

.grid-item:hover{
  opacity: 0.8;
}